input{
    outline: none;
    padding: 5px;
    width: 85%;
    border-radius: 5px;
    border:0px solid;
    font-size:17px;
    background-color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width:275px){
 input{
     width:95%;
 }

}